<div>
    <p>
        It seems that required plugin is not found. Check the list of supported plugins:
    </p>

    <table class="table table-bordered table-stripped">
        <thead>
        <tr>
            <th>plugin name</th>
            <th>supported params</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>about</td>
            <td>
                <ul>
                    <li>client</li>
                    <li>secret</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>search-relationships</td>
            <td>
                <ul>
                    <li>client</li>
                    <li>secret</li>
                    <li>plugin</li>
                    <li>outcome</li>
                    <li>predictor</li>
                    <li>common-or-user</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>