<div class="list card" id="favoritesList"
     ng-if="!trackingReminder.hide"
     ng-if="state.favoritesArray.length && !favorite.hide"
     ng-repeat="trackingReminder in state.favoritesArray track by $index"
     on-hold="showFavoriteActionSheet(favorite, $index, null, state)">
    <div class="item" style="padding-bottom:0px;" >
        <div ng-include="'templates/items/favorite-item.html'"></div>
    </div>
</div>