<div class="studyShareButtons" style="cursor: pointer; text-align: center;">
    <div ng-click="openStudyLinkFacebook(state.causeVariableName, state.effectVariableName, state.study)" class="show-inline">
        <div class="tooltip" title="Share Study to Facebook">
            <i  style="font-size: 32px;" class="ion-social-facebook">
                <md-tooltip md-direction="left">Share Study to Facebook</md-tooltip>
            </i>
        </div>
    </div>
    &nbsp;
    &nbsp;
    <div ng-click="openStudyLinkTwitter(state.causeVariableName, state.effectVariableName, state.study);" class="show-inline">
        <div class="tooltip" title="Share Study to Twitter">
            <i  style="font-size: 32px;" class="ion-social-twitter"></i>
        </div>
    </div>
    &nbsp;
    &nbsp;
    <div ng-click="openStudyLinkGoogle(state.causeVariableName, state.effectVariableName, state.study);" class="show-inline">
        <div class="tooltip" title="Share Study to Google+">
            <i  style="font-size: 32px;" class="ion-social-google"></i>
        </div>
    </div>
    &nbsp;
    &nbsp;
    <div ng-click="openStudyLinkEmail(state.causeVariableName, state.effectVariableName, state.study);" class="show-inline">
        <div class="tooltip" title="Share Study by Email">
            <i  style="font-size: 32px;" class="ion-ios-email-outline"></i>
        </div>
    </div>
</div>