<md-card>
    <md-card-header>
        <md-card-avatar>
            <img src="{{card.avatar}}"/>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{card.title}}</span>
            <span class="md-subhead">{{card.subTitle}}</span>
        </md-card-header-text>
    </md-card-header>
    <img ng-src="{{card.image}}" class="md-card-image" alt="{{card.image}}" ng-if="card.image">
    <md-card-content>
        <div ng-bind-html="trustAsHtml(card.htmlContent)"></div>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start" >
        <md-button id="{{button.title}}" aria-label="{{button.title}}"
                   href="{{button.link}}"
                   ng-repeat="button in card.buttons">
            <i class="{{button.ionIcon}}"> &nbsp;{{button.text}}</i>
        </md-button>
    </md-card-actions>
    <md-card-actions layout="row" layout-align="end center" ng-if="card.sharingButtons">
        <md-button class="md-icon-button" aria-label="{{button.text}}" ng-repeat="button in card.sharingButtons">
            <i class="{{button.ionIcon}}"></i>
            <md-tooltip>{{button.text}}</md-tooltip>
        </md-button>
    </md-card-actions>
</md-card>