/* Fonts Imported from Google */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
/*   Core: General style
----------------------------*/
body {
    height:100%;
    padding-top:5%;
    background-image: url(https://quantimodo.quantimo.do/ionic/Modo/www/img/backgrounds/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #134c7d;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.logo {
    text-align: center;
}
.center-block {
    float:none;
}

.btn-primary, .primary, .tags a.primary {
    border-color: #12A5F4;
    background: #12A5F4 !important;
}
.btn-primary:hover{
    border-color: #1c8cb5;
    background: #1c8cb5 !important;
}

.forgot {
    color: white; !important
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.social a ,.social a:hover{
    color: white;
    opacity:0.9;
    margin-bottom: 10px;
}

.btn-facebook {background: #3b5998;}
.btn-twitter {background: #00aced;}
.btn-google {background: #c32f10;}
.sign-up {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}

.omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
}
.omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.8em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .mar-left5{
        margin-left: 18px !important;
        margin-top: -10px;
    }
}
@media screen and (max-width: 400px) {
    .mar-top4{
        margin-top: -10px;
    }

}
@media screen and (max-width: 400px) {
    .mar-left{
        margin-left: -5px !important;
    }
}