<md-card>
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span style="color: white;">
                <md-icon class="ion-iphone"></md-icon> Build Status
            </span>
        </h2>
    </md-toolbar>
    <md-card-content>
        <md-list>
            <md-list-item class="secondary-button-padding" ng-repeat="(key, value) in appSettings.appStatus.buildStatus"
                          ng-if="key === 'chromeExtension' || key === 'androidRelease' || key === 'androidDebug' || key === 'ios'">
                <md-switch ng-if="true" ng-model="appSettings.appStatus.buildEnabled[key]" aria-label="buildEnabled"
                           ng-change="postAppSettingsAfterConfirmation()"></md-switch>
                <p> <md-progress-linear ng-if="value == 'BUILDING' && appSettings.appStatus.buildEnabled[key]" md-mode="indeterminate"></md-progress-linear>
                    {{ key | camelCaseToTitleCase | uppercase }} &nbsp </p>
                <md-button ng-if="appSettings.appStatus.betaDownloadLinks[key]" class="md-icon-button md-secondary" style="font-size: 30px;"
                           href="{{appSettings.appStatus.betaDownloadLinks[key]}}" aria-label="Download">
                    <md-icon class="ion-android-download"><md-tooltip md-direction="down">Download</md-tooltip></md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>