<md-content class="md-padding">
    <div layout="row">
        <div flex="50">
            <md-card>
                <md-card-header><md-card-header-text><span class="md-title">Build Status</span></md-card-header-text></md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item class="secondary-button-padding" ng-repeat="(key, value) in appSettings.appStatus.buildStatus"
                                      ng-if="key === 'chromeExtension' || key === 'androidRelease' || key === 'androidDebug'  || key === 'ios'">
                            <md-switch ng-model="appSettings.appStatus.buildEnabled[key]" aria-label="buildEnabled" ng-change="postAppSettingsAfterConfirmation()"></md-switch>
                            <p> <md-progress-linear ng-if="value == 'BUILDING'" md-mode="indeterminate"></md-progress-linear>
                                {{ key | camelCaseToTitleCase | uppercase }} &nbsp </p>
                            <md-button ng-if="appSettings.appStatus.betaDownloadLinks[key]" class="md-secondary md-icon-button" style="font-size: 30px;"
                                       href="{{appSettings.appStatus.betaDownloadLinks[key]}}" aria-label="Download">
                                <md-icon class="ion-android-download"><md-tooltip md-direction="down">Download</md-tooltip></md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </div>
        <div flex="50">
            <md-card>
                <md-card-header><md-card-header-text><span class="md-title">Android Build Settings</span></md-card-header-text></md-card-header>
                <md-card-content>
                    <div ng-include="'../../app-configuration/templates/additional-settings/build-settings.html'"></div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>