<ion-view hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>{{appSettings.appDisplayName}}</ion-nav-title>
    <ion-content ng-class="{ isBrowserView : isWeb == true }">
        <div ng-if="!appList" ng-cloak>
            <br> <br>
            <h1 style="text-align: center;">Loading your apps.. </h1>
            <br>
            <div style="text-align: center"> <br> <ion-spinner icon="android"></ion-spinner> <br> </div>
        </div>
        <div ng-if="appList && appList.length === 0">
            <md-button class="icon icon-left ion-plus-round" ng-click="openNewAppModalPopup()">&nbsp; Create New App</md-button>
        </div>
        <div ng-if="appList && appList.length" ng-cloak>
            <md-content>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-progress-linear md-mode="indeterminate" ng-if="!appList"></md-progress-linear>
                        <md-select style="color: white; line-height: normal;" ng-model="appSettings" ng-model-options="{trackBy: '$value.clientId'}"  aria-label="appList"
                                   ng-change="switchApp(appSettings)" ng-if="appList && appList.length > 1">
                            <md-option ng-value="app" ng-repeat="app in appList track by app.clientId" >
                                <img style="max-height: 25px;" src="{{ app.appIcon }}" />
                                {{app.appDisplayName}} App Designer
                            </md-option>
                        </md-select>
                        <span flex></span>
                        <md-button class="icon icon-left ion-plus-round" ng-click="openNewAppModalPopup()">&nbsp; New App</md-button>
                        <md-button class="icon icon-left ion-checkmark" ng-click="postAppSettingsAfterConfirmation()">&nbsp; Save Changes</md-button>
                    </div>
                </md-toolbar>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Links">
                        <md-content class="md-padding">
                            <!--<div ng-include="'../../app-configuration/templates/app-design-list-fragment.html'"></div>-->
                            <div ng-include="'../../app-configuration/templates/app-links.html'"></div>
                            <div ng-if="appSettings.appStatus.betaDownloadLinks.androidRelease" ng-include="'../../app-configuration/templates/builds-card.html'"></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Design">
                        <md-content class="md-padding">
                            <!--<div ng-include="'../../app-configuration/templates/app-design-list-fragment.html'"></div>-->
                            <div ng-include="'../../app-configuration/templates/app-design-tabs-fragment.html'"></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Settings">
                        <md-content class="md-padding">
                            <div ng-include="'../../app-configuration/templates/additional-settings-fragment.html'"></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Builds">
                        <div ng-include="'../../app-configuration/templates/builds-tab.html'"></div>
                    </md-tab>
                    <md-tab label="Collaborators">
                        <div ng-include="'../../app-configuration/templates/lists/collaborator-list.html'"></div>
                    </md-tab>
                    <md-tab label="Users" ng-click="loadUserList()">
                        <div ng-include="'../../app-configuration/templates/lists/user-list.html'"></div>
                    </md-tab>
                    <md-tab label="Other Apps">
                        <div ng-include="'../../app-configuration/templates/app-list-fragment.html'"></div>
                    </md-tab>
                    <md-tab label="Revisions" ng-click="">
                        <div ng-include="'../../app-configuration/templates/revision-list-fragment.html'"></div>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
        <div ng-include="'templates/fragments/floating-material-action-button-fragment.html'"></div>
        <!--<md-button class="md-raised md-primary" ng-click="undoPostAppSettings($event)">Undo</md-button>-->
    </ion-content>
</ion-view>