<div layout="column" layout-padding ng-cloak>
    <md-content>
        <div ng-repeat="(key, value) in appSettingObjectToEdit" style="padding-left: 10px;">
            <md-input-container ng-if="!isObject(value)" class="md-icon-float md-block">
                <span ng-switch on="key">
                    <span ng-switch-when="show"></span>
                    <span ng-switch-when="href"></span>
                    <span ng-switch-when="id"></span>
                    <span ng-switch-when="bodyText">
                        <label>{{key | camelCaseToTitleCase}}</label>
                        <textarea rows="3" name="{{key}}" ng-model="appSettingObjectToEdit[key]"></textarea>
                    </span>
                    <span ng-switch-when="url">
                        <img ng-if="isImage(appSettingObjectToEdit[key])" type="file" ngf-select="uploadAppFile($file, $invalidFiles, key, appSettingObjectToEdit)"
                             style="border-radius: 0; background-color: #23272D; max-width: 100px" ng-src="{{appSettingObjectToEdit[key]}}" class="md-avatar"/>
                        <input name="{{key}}" ng-model="appSettingObjectToEdit[key]">
                    </span>
                    <span ng-switch-when="variableCategoryName">
                        <label>{{key | camelCaseToTitleCase}}</label>
                        <md-select ng-model="appSettingObjectToEdit[key]">
                            <md-option ng-value="option" ng-repeat="option in variableCategoryNames" ><i class="icon {{variableCategories[option].ionIcon}}"></i> &nbsp;{{option | camelCaseToTitleCase}}</md-option>
                        </md-select>
                    </span>
                    <span ng-switch-when="stateName">
                        <label>{{key | camelCaseToTitleCase}}</label>
                        <md-select ng-model="appSettingObjectToEdit[key]"><md-option ng-value="option.name" ng-repeat="option in stateList" >{{option.name | camelCaseToTitleCase}}</md-option></md-select>
                    </span>
                    <span ng-switch-when="icon"  >
                        <md-button class="md-fab" aria-label="{{value | ionIconDisplayName}}"> <md-icon style="font-size: 20px;" md-font-icon="{{value}}" class="{{value}}"></md-icon> </md-button>
                        Icon: {{value | ionIconDisplayName}}
                    </span>
                    <span ng-switch-when="backgroundColor">
                        <label>{{key | camelCaseToTitleCase}}</label>
                        <div md-color-picker style="color: black;" ng-model="appSettingObjectToEdit[key]"></div>
                    </span>
                    <span ng-switch-when="circleColor"><label>{{key | camelCaseToTitleCase}}</label><div md-color-picker style="color: black;" ng-model="appSettingObjectToEdit[key]"></div></span>
                    <span ng-switch-default>
                        <label>{{key | camelCaseToTitleCase}}</label>
                        <input name="{{key}}" ng-model="appSettingObjectToEdit[key]">
                    </span>
                </span>
            </md-input-container>
            <div ng-if="isObject(value)">
                <div ng-click="appSettingObjectToEdit[key].show = !appSettingObjectToEdit[key].show">
                    <h4>
                        <span ng-if="isString(key)">{{key | camelCaseToTitleCase}}</span>
                        <span ng-if="!isString(key)">{{appSettingType | camelCaseToTitleCase}} Element {{key + 1}}</span>
                        <md-icon ng-show="!appSettingObjectToEdit[key].show" class="ion-arrow-right-b"></md-icon>
                        <md-icon ng-show="appSettingObjectToEdit[key].show" class="ion-arrow-down-b"></md-icon>
                    </h4>
                </div>
                <div ng-repeat="(subKey, subValue) in value" ng-show="appSettingObjectToEdit[key].show" style="padding-left: 20px;">
                    <md-input-container class="md-icon-float md-icon-right md-block" ng-if="!isObject(subValue)">
                        <span ng-switch on="subKey">
                            <span ng-switch-when="show"></span>
                            <span ng-switch-when="href"></span>
                            <span ng-switch-when="id"></span>
                            <span ng-switch-when="bodyText">
                                <label>{{subKey | camelCaseToTitleCase}}</label>
                                <textarea rows="3" name="{{subKey}}" ng-model="appSettingObjectToEdit[key][subKey]" md-select-on-focus></textarea>
                            </span>
                            <span ng-switch-when="url">
                                <img ng-if="isImage(appSettingObjectToEdit[key][subKey])" type="file" ngf-select="uploadAppFile($file, $invalidFiles, key, subKey, appSettingObjectToEdit[key])"
                                     style="border-radius: 0; background-color: #23272D; max-width: 100px" ng-src="{{appSettingObjectToEdit[key][subKey]}}" class="md-avatar"/>
                                <input name="{{subKey}}" ng-model="appSettingObjectToEdit[key][subKey]">
                            </span>
                            <span ng-switch-when="androidReleaseKeystoreFile">
                                <img type="file" ngf-select="uploadAppFile($file, $invalidFiles, key, subKey, appSettingObjectToEdit[key], true)"
                                     style="border-radius: 0; background-color: #23272D; max-width: 100px" ng-src="img/intro/lock.svg" class="md-avatar"/>
                                <input name="{{subKey}}" ng-model="appSettingObjectToEdit[key][subKey]">
                            </span>
                            <span ng-switch-when="variableCategoryName">
                                <label>{{subKey | camelCaseToTitleCase}}</label>
                                <md-select ng-model="appSettingObjectToEdit[key][subKey]">
                                    <md-option ng-value="option" ng-repeat="option in variableCategoryNames" ><i class="icon {{variableCategories[option].ionIcon}}"></i> &nbsp;{{option | camelCaseToTitleCase}}</md-option>
                                </md-select>
                            </span>                            
                            <span ng-switch-when="stateName">
                                <label>{{subKey | camelCaseToTitleCase}}</label>
                                <md-select ng-model="appSettingObjectToEdit[key][subKey]"><md-option ng-value="option.name" ng-repeat="option in stateList" >{{option.name | camelCaseToTitleCase}}</md-option></md-select>
                            </span>
                            <span ng-switch-when="icon" ng-click="selectIonIcon($event, appSettingObjectToEdit[key][subKey])" >
                                <md-button class="md-fab" aria-label="{{subValue | ionIconDisplayName}}"> <md-icon style="font-size: 20px;" md-font-icon="{{subValue}}" class="{{subValue}}"></md-icon> </md-button>
                                Icon: {{subValue | ionIconDisplayName}}
                            </span>
                            <span ng-switch-when="appIcon">
                                <h5>{{subKey | camelCaseToTitleCase}}</h5>
                                <img type="file" ngf-select="uploadAppFile($file, $invalidFiles, key, subKey, appSettingObjectToEdit[key])"
                                     style="border-radius: 0; background-color: #23272D; max-width: 100px" ng-src="{{appSettingObjectToEdit[key][subKey]}}" class="md-avatar"/>
                                <input name="{{subKey}}" ng-model="appSettingObjectToEdit[key][subKey]">
                            </span>
                            <span ng-switch-when="notificationIcon" ng-click="selectIonIcon($event, appSettingObjectToEdit[key][subKey], subKey)" >
                                 <h5>{{subKey | camelCaseToTitleCase}}</h5>
                                <md-button class="md-fab" aria-label="{{subValue | ionIconDisplayName}}">
                                    <md-icon style="font-size: 20px;" md-font-icon="{{appSettingObjectToEdit[key][subKey]}}" class="{{appSettingObjectToEdit[key][subKey]}}"></md-icon>
                                </md-button>
                                {{appSettingObjectToEdit[key][subKey] | ionIconDisplayName}}
                            </span>
                            <span ng-switch-when="splashScreen">
                                <h5>{{subKey | camelCaseToTitleCase}}</h5>
                                <img type="file" ngf-select="uploadAppFile($file, $invalidFiles, key, subKey, appSettingObjectToEdit[key])"
                                     style="border-radius: 0; background-color: #23272D; max-width: 100px" ng-src="{{appSettingObjectToEdit[key][subKey]}}" class="md-avatar"/>
                                <input name="{{subKey}}" ng-model="appSettingObjectToEdit[key][subKey]">
                            </span>
                            <span ng-switch-when="textLogo">
                                <h5>{{subKey | camelCaseToTitleCase}}</h5>
                                <img type="file" ngf-select="uploadAppFile($file, $invalidFiles, key, subKey, appSettingObjectToEdit[key])"
                                     style="border-radius: 0; background-color: #23272D; max-width: 200px; padding: 10px;" ng-src="{{appSettingObjectToEdit[key][subKey]}}" class="md-avatar"/>
                                <input name="{{subKey}}" ng-model="appSettingObjectToEdit[key][subKey]">
                            </span>
                            <span ng-switch-when="backgroundColor"><label>{{subKey | camelCaseToTitleCase}}</label><div md-color-picker style="color: black;" ng-model="appSettingObjectToEdit[key][subKey]"></div></span>
                            <span ng-switch-when="circleColor"><label>{{subKey | camelCaseToTitleCase}}</label><div md-color-picker style="color: black;" ng-model="appSettingObjectToEdit[key][subKey]"></div></span>
                            <span ng-switch-default>
                                <label>{{subKey | camelCaseToTitleCase}}</label>
                                <input name="{{subKey}}" ng-model="appSettingObjectToEdit[key][subKey]">
                            </span>
                        </span>
                    </md-input-container>
                    <div ng-if="isObject(subValue)">
                        <div ng-click="appSettingObjectToEdit[key][subKey].show = !appSettingObjectToEdit[key][subKey].show">
                            <h4>
                                <span ng-if="isString(subKey)">{{subKey | camelCaseToTitleCase}}</span>
                                <span ng-if="!isString(subKey)">{{key | camelCaseToTitleCase}} Element {{subKey + 1}}</span>
                                <md-icon ng-show="!appSettingObjectToEdit[key][subKey].show" class="ion-arrow-right-b"></md-icon>
                                <md-icon ng-show="appSettingObjectToEdit[key][subKey].show" class="ion-arrow-down-b"></md-icon>
                            </h4>
                        </div>
                        <div ng-repeat="(subSubKey, subSubValue) in subValue" ng-show="appSettingObjectToEdit[key][subKey].show" style="padding-left: 30px;">
                            <div ng-if="!isObject(subSubValue)" ng-switch on="subSubKey">
                                <span ng-switch-when="show"></span>
                                <span ng-switch-when="href"></span>
                                <span ng-switch-when="id"></span>
                                <span ng-switch-when="bodyText">
                                    <label>{{subSubKey | camelCaseToTitleCase}}</label>
                                    <textarea rows="3" name="{{subSubKey}}" ng-model="appSettingObjectToEdit[key][subKey][subSubKey]"></textarea>
                                </span>
                                <span ng-switch-when="url">
                                    <img ng-if="isImage(appSettingObjectToEdit[key][subKey][subSubKey])" type="file" ngf-select="uploadAppFile($file, $invalidFiles, subKey, subSubKey, appSettingObjectToEdit[key][subKey])"
                                         style="border-radius: 0; background-color: #23272D; max-width: 100px" ng-src="{{appSettingObjectToEdit[key][subKey][subSubKey]}}" class="md-avatar"/>
                                    <input name="{{subSubKey}}" ng-model="appSettingObjectToEdit[key][subKey][subSubKey]">
                                </span>
                                <md-input-container class="md-icon-float md-block"  ng-switch-when="variableCategoryName">
                                    <label>{{subSubKey | camelCaseToTitleCase}}</label>
                                    <md-select ng-model="appSettingObjectToEdit[key][subKey][subSubKey]">
                                        <md-option ng-value="option" ng-repeat="option in variableCategoryNames" ><i class="icon {{variableCategories[option].ionIcon}}"></i> &nbsp;{{option | camelCaseToTitleCase}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block"  ng-switch-when="stateName">
                                    <label>{{subSubKey | camelCaseToTitleCase}}</label>
                                    <md-select ng-model="appSettingObjectToEdit[key][subKey][subSubKey]"><md-option ng-value="option.name" ng-repeat="option in stateList" >{{option.name | camelCaseToTitleCase}}</md-option></md-select>
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block"  ng-switch-when="icon" ng-click="selectIonIcon($event, appSettingObjectToEdit[key][subKey][subSubKey])" >
                                    <md-button class="md-fab" aria-label="{{subSubValue | ionIconDisplayName}}"> <md-icon style="font-size: 20px;" md-font-icon="{{subSubValue}}" class="{{subSubValue}}"></md-icon> </md-button>
                                    Icon: {{subSubValue | ionIconDisplayName}}
                                </md-input-container>
                                <div ng-switch-when="backgroundColor"><label>{{subSubKey | camelCaseToTitleCase}}</label><div md-color-picker style="color: black;" ng-model="appSettingObjectToEdit[key][subKey][subSubKey]"></div></div>
                                <div ng-switch-when="circleColor"><label>{{subSubKey | camelCaseToTitleCase}}</label><div md-color-picker style="color: black;" ng-model="appSettingObjectToEdit[key][subKey][subSubKey]"></div></div>
                                <md-input-container class="md-icon-float md-block"  ng-switch-default>
                                    <label>{{subSubKey | camelCaseToTitleCase}}</label>
                                    <input name="{{subSubKey}}" ng-model="appSettingObjectToEdit[key][subKey][subSubKey]">
                                </md-input-container>
                            </div>
                            <div ng-if="isObject(subSubValue)">
                                <div ng-click="appSettingObjectToEdit[key][subKey][subSubKey].show = !appSettingObjectToEdit[key][subKey][subSubKey].show">
                                    <h4>
                                        <span ng-if="isString(subSubKey)">{{subSubKey | camelCaseToTitleCase}}</span>
                                        <span ng-if="!isString(subSubKey)">{{subKey | camelCaseToTitleCase}} Element {{subSubKey + 1}}</span>
                                        <md-icon ng-show="!appSettingObjectToEdit[key][subKey][subSubKey].show" class="ion-arrow-right-b"></md-icon>
                                        <md-icon ng-show="appSettingObjectToEdit[key][subKey][subSubKey].show" class="ion-arrow-down-b"></md-icon>
                                    </h4>
                                </div>
                                <div ng-repeat="(subSubSubKey, subSubSubValue) in subSubValue" ng-show="appSettingObjectToEdit[key][subKey][subSubKey].show" style="padding-left: 40px;">
                                    <div ng-if="!isObject(subSubSubValue)" ng-switch on="subSubSubKey">
                                        <span ng-switch-when="show"></span>
                                        <span ng-switch-when="href"></span>
                                        <span ng-switch-when="id"></span>
                                        <span ng-switch-when="bodyText">
                                            <label>{{subSubSubKey | camelCaseToTitleCase}}</label>
                                            <textarea rows="3" name="{{subSubSubKey}}" ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey]"></textarea>
                                        </span>
                                        <span ng-switch-when="url">
                                            <img ng-if="isImage(appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey])" type="file" ngf-select="uploadAppFile($file, $invalidFiles, subSubKey, subSubSubKey, appSettingObjectToEdit[key][subSubKey])"
                                                 style="border-radius: 0; background-color: #23272D; max-width: 100px" ng-src="{{appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey]}}" class="md-avatar"/>
                                            <input name="{{subSubSubKey}}" ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey]">
                                        </span>
                                        <md-input-container class="md-icon-float md-block"  ng-switch-when="variableCategoryName">
                                            <label>{{subSubSubKey | camelCaseToTitleCase}}</label>
                                            <md-select ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey]">
                                                <md-option ng-value="option" ng-repeat="option in variableCategoryNames" ><i class="icon {{variableCategories[option].ionIcon}}"></i> &nbsp;{{option | camelCaseToTitleCase}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container class="md-icon-float md-block"  ng-switch-when="stateName">
                                            <label>{{subSubSubKey | camelCaseToTitleCase}}</label>
                                            <md-select ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey]"><md-option ng-value="option.name" ng-repeat="option in stateList" >{{option.name | camelCaseToTitleCase}}</md-option></md-select>
                                        </md-input-container>
                                        <md-input-container class="md-icon-float md-block"  ng-switch-when="icon" ng-click="selectIonIcon($event, appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey])" >
                                            <md-button class="md-fab" aria-label="{{subSubSubValue | ionIconDisplayName}}"> <md-icon style="font-size: 20px;" md-font-icon="{{subSubSubValue}}" class="{{subSubSubValue}}"></md-icon> </md-button>
                                            Icon: {{subSubSubValue | ionIconDisplayName}}
                                        </md-input-container>
                                        <div ng-switch-when="backgroundColor"><label>{{subSubSubKey | camelCaseToTitleCase}}</label><div md-color-picker style="color: black;" ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey]"></div></div>
                                        <div ng-switch-when="circleColor"><label>{{subSubSubKey | camelCaseToTitleCase}}</label><div md-color-picker style="color: black;" ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey]"></div></div>
                                        <md-input-container class="md-icon-float md-block"  ng-switch-default>
                                            <label>{{subSubSubKey | camelCaseToTitleCase}}</label>
                                            <input name="{{subSubSubKey}}" ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey]">
                                        </md-input-container>
                                    </div>
                                    <div ng-if="isObject(subSubSubValue)">
                                        <div ng-click="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey].show = !appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey].show">
                                            <h4>
                                                <span ng-if="isString(subSubSubKey)">{{subSubSubKey | camelCaseToTitleCase}}</span>
                                                <span ng-if="!isString(subSubSubKey)">{{subSubKey | camelCaseToTitleCase}} Element {{subSubSubKey + 1}}</span>
                                                <md-icon ng-show="!appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey].show" class="ion-arrow-right-b"></md-icon>
                                                <md-icon ng-show="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey].show" class="ion-arrow-down-b"></md-icon>
                                            </h4>
                                        </div>
                                        <div ng-repeat="(subSubSubSubKey, subSubSubSubValue) in subSubSubValue" ng-show="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey].show" style="padding-left: 50px;">
                                            <div ng-if="!isObject(subSubSubSubValue)" ng-switch on="subSubSubSubKey">
                                                <span ng-switch-when="show"></span>
                                                <span ng-switch-when="href"></span>
                                                <span ng-switch-when="id"></span>
                                                <span ng-switch-when="bodyText">
                                                    <label>{{subSubSubSubKey | camelCaseToTitleCase}}</label>
                                                    <textarea rows="3" name="{{subSubSubSubKey}}" ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey][subSubSubSubKey]"></textarea>
                                                </span>
                                                <span ng-switch-when="url">
                                                    <img ng-if="isImage(appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey][subSubSubSubKey])" type="file" ngf-select="uploadAppFile($file, $invalidFiles, subSubSubKey, subSubSubSubKey, appSettingObjectToEdit[key][subSubKey][subSubSubKey])"
                                                         style="border-radius: 0; background-color: #23272D; max-width: 100px" ng-src="{{appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey][subSubSubSubKey]}}" class="md-avatar"/>
                                                    <input name="{{subSubSubSubKey}}" ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey][subSubSubSubKey]">
                                                </span>
                                                <md-input-container class="md-icon-float md-block"  ng-switch-when="variableCategoryName">
                                                    <label>{{subSubSubSubKey | camelCaseToTitleCase}}</label>
                                                    <md-select ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey][subSubSubSubKey]">
                                                        <md-option ng-value="option" ng-repeat="option in variableCategoryNames" ><i class="icon {{variableCategories[option].ionIcon}}"></i> &nbsp;{{option | camelCaseToTitleCase}}</md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container class="md-icon-float md-block"  ng-switch-when="stateName">
                                                    <label>{{subSubSubSubKey | camelCaseToTitleCase}}</label>
                                                    <md-select ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey][subSubSubSubKey]"><md-option ng-value="option.name" ng-repeat="option in stateList" >{{option.name | camelCaseToTitleCase}}</md-option></md-select>
                                                </md-input-container>
                                                <md-input-container class="md-icon-float md-block"  ng-switch-when="icon" ng-click="selectIonIcon($event, appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey][subSubSubSubKey])" >
                                                    <md-button class="md-fab" aria-label="{{subSubSubSubValue | ionIconDisplayName}}"> <md-icon style="font-size: 20px;" md-font-icon="{{subSubSubSubValue}}" class="{{subSubSubSubValue}}"></md-icon> </md-button>
                                                    Icon: {{subSubSubSubValue | ionIconDisplayName}}
                                                </md-input-container>
                                                <div ng-switch-when="backgroundColor"><label>{{subSubSubSubKey | camelCaseToTitleCase}}</label><div md-color-picker style="color: black;" ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey][subSubSubSubKey]"></div></div>
                                                <div ng-switch-when="circleColor"><label>{{subSubSubSubKey | camelCaseToTitleCase}}</label><div md-color-picker style="color: black;" ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey][subSubSubSubKey]"></div></div>
                                                <md-input-container class="md-icon-float md-block"  ng-switch-default>
                                                    <label>{{subSubSubSubKey | camelCaseToTitleCase}}</label>
                                                    <input name="{{subSubSubSubKey}}" ng-model="appSettingObjectToEdit[key][subKey][subSubKey][subSubSubKey][subSubSubSubKey]">
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <md-button class="md-raised md-primary icon icon-left ion-checkmark" ng-click="postAppSettingsAfterConfirmation()">&nbsp; Save</md-button>
    </md-content>
</div>