<ion-view hide-nav-bar="hideNavigationMenu" view-title="{{title}}">
    <ion-content scroll="true" overflow-scroll="true">
        <iframe src="{{iframeUrl}}" data-tap-disabled="true" style="{{iFrameStyle}}" frameborder="0"></iframe>
    </ion-content>
</ion-view>
