<ion-view hide-nav-bar="hideNavigationMenu" view-title="Add Reminder">
    <ion-nav-title>Settings</ion-nav-title>
    <ion-content scroll="true" overflow-scroll="true" ng-class="{ isBrowserView : platform.isWeb == true }">
        <md-toolbar class="md-theme-light" id="reminder-header">
            <h2 class="md-toolbar-tools"><span style="color: white;">{{state.trackingReminder.variableName}}</span></h2>
        </md-toolbar>
<!--        <label class="item item-input item-select" ng-if="state.showVariableCategorySelector">
            <div class="input-label" style="white-space:normal; width: 60%">Select Category</div>
            <select id="variableCategorySelector" ng-model="state.trackingReminder.variableCategoryName"
                    ng-options="variableCategoryName as variableCategoryName for variableCategoryName in state.variableCategoryNames"
                    ng-change="variableCategorySelectorChange(state.trackingReminder.variableCategoryName)">
            </select>
        </label>-->
        <div style="padding: 10px;">
            <div ng-if="!state.variableCategoryObject || state.showMoreOptions" >
                <div class="md-subhead" layout-margin>What type of variable is this?</div>
                <div layout="row" layout-margin>
                    <md-input-container id="categorySelectorBlock" class="md-block" style="min-width: 150px;" flex-gt-sm>
                        <label>Select a Category</label>
                        <md-select id="categorySelectorMaterial"
                                   ng-model="state.trackingReminder.variableCategoryName"
                                   ng-change="variableCategorySelectorChange(state.trackingReminder.variableCategoryName)">
                            <md-option ng-repeat="variableCategory in state.variableCategories"
                                       ng-if="variableCategory.manualTracking && variableCategory.variableCategoryNameSingular"
                                       value="{{variableCategory.name}}" >{{variableCategory.variableCategoryNameSingular}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div ng-if="state.variableCategoryObject || state.showMoreOptions || state.trackingReminder.id">
                <br>
                <div layout="row" layout-margin  >
                    <md-input-container id="defaultValueContainer" ng-if="!state.hideDefaultValueField" class="md-block" flex-gt-sm>
                        <label>{{state.defaultValueLabel}}</label>
                        <input id="defaultValue" type="number" ng-model="state.trackingReminder.defaultValue" placeholder="{{state.defaultValuePlaceholderText}}">
                    </md-input-container>
                    <md-input-container id="unitSelectorBlock" class="md-block" flex-gt-sm>
                        <label ng-if="!platform.isMobile" >Unit</label>
                        <md-select ng-if="!platform.isMobile" id="unitSelectorMaterial"
                                   ng-model="state.trackingReminder.unitAbbreviatedName"
                                   ng-change="unitSelected()">
                            <md-option ng-repeat="unit in state.units"
                                       value="{{unit.abbreviatedName}}" >{{unit.abbreviatedName}}
                            </md-option>
                        </md-select>
                        <!-- Use native selector popup on mobile -->
                        <select style="border: none" ng-show="platform.isMobile" id="unitSelectorMobile"
                                ng-model="state.trackingReminder.unitAbbreviatedName"
                                ng-options="unit.abbreviatedName as unit.name for unit in state.units"
                                ng-change="unitSelected()">
                        </select>
                    </md-input-container>
                </div>
                <div layout="row" layout-margin ng-if="!stateParams.favorite">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label ng-if="!platform.isMobile">Frequency</label>
                        <md-select ng-if="!platform.isMobile" ng-model="state.selectedFrequencyName"
                                   id="frequencySelectorMaterial" ng-change="frequencySelected()">
                            <md-option ng-repeat="frequency in variables.frequencyVariables" value="{{frequency.name}}">{{frequency.name}}</md-option>
                        </md-select>
                        <!-- Use native selector popup on mobile -->
                        <select ng-show="platform.isMobile" id="frequencySelector"
                                ng-model="state.selectedFrequencyName"
                                ng-change="frequencySelected()" style="border: none" >
                            <option ng-repeat="frequency in variables.frequencyVariables">{{frequency.name}}</option>
                        </select>
                    </md-input-container>
                    <md-input-container class="md-block" ng-hide="state.trackingReminder.reminderFrequency < 86400" flex-gt-sm>
                        <label>Reminder time</label>
                        <input style="cursor: pointer; background-color: white" mdc-datetime-picker="" date="false" time="true"
                               type="text" id="materialFirstReminderStartTime" short-time="true" placeholder="Time"
                               min-date="minDate" format="h:mm a" ng-model="state.firstReminderStartTimeMoment" class="md-input reminder-time">
                    </md-input-container>
                    <span ng-click="showAdditionalReminderTime()">
                <!-- Tooltip doesn't hide itself for some reason <md-tooltip md-direction="down">Add additional time</md-tooltip>-->
                <i id="additionalTimeButton" class="ion-plus-circled" style="font-size: 25px;"
                   ng-hide="state.hideAdditionalReminderTimeButton || state.trackingReminder.reminderFrequency < 86400"></i>
            </span>
                </div>
                <label ng-hide="true || state.trackingReminder.reminderFrequency < 86400" class="item item-input">
                    <div class="input-label">Reminder time</div>
                    <md-button id="oldFirstReminderStartTime" class="button button-block up-top reminder-time" ng-click="oldOpenReminderStartTimePicker('first')"
                               style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;">
                        {{state.firstReminderStartTimeEpochTime | fromUnixTimestampToLocalTimeOfDay}}
                    </md-button>
                </label>
                <label ng-show="state.secondReminderStartTimeEpochTime && state.trackingReminder.reminderFrequency >= 86400" class="item item-input">
                    <div class="reminder-row row"><div class="col"><div class="input-label" >2nd reminder time</div></div></div>
                    <div class="col-6">
                        <input style="cursor: pointer; background-color: white" mdc-datetime-picker="" date="false" time="true" type="text"
                               id="materialSecondReminderStartTime" short-time="true" placeholder="Time"
                               min-date="minDate" format="h:mm a" ng-model="state.secondReminderStartTimeMoment" class=" md-input reminder-time">
                    </div>
                </label>
                <label ng-hide="true || state.trackingReminder.reminderFrequency < 86400" class="item item-input">
                    <div class="input-label" >2nd reminder time</div>
                    <md-button id="oldSecondReminderStartTime" class="button button-block up-top reminder-time" ng-click="oldOpenReminderStartTimePicker('second')"
                               style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px; padding-left: 0px;">
                        {{state.secondReminderStartTimeEpochTime | fromUnixTimestampToLocalTimeOfDay}}
                    </md-button>
                </label>
                <label ng-show="state.thirdReminderStartTimeEpochTime && state.trackingReminder.reminderFrequency >= 86400" class="item item-input">
                    <div class="reminder-row row"><div class="col"><div class="input-label" >3nd reminder time</div></div></div>
                    <div class="col-6">
                        <input style="cursor: pointer; background-color: white" mdc-datetime-picker="" date="false" time="true" type="text" id="materialThirdReminderStartTime" short-time="true" placeholder="Time" min-date="minDate" format="h:mm a"
                               ng-model="state.thirdReminderStartTimeMoment" class="md-input reminder-time">
                    </div>
                </label>
                <label ng-hide="true || state.trackingReminder.reminderFrequency < 86400" class="item item-input">
                    <div class="input-label" >3nd reminder time</div>
                    <md-button id="oldThirdReminderStartTime" class="button button-block up-top reminder-time" ng-click="oldOpenReminderStartTimePicker('third')"
                               style="text-align:left;font-size:14px;border:none;color:black;background-color: white;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;">
                        {{state.thirdReminderStartTimeEpochTime | fromUnixTimestampToLocalTimeOfDay}}
                    </md-button>
                </label>
                <label id="oldAdditionalTimeButton" ng-hide="true" ng-click="oldShowAdditionalReminderTime()" class="item icon-left ion-clock"></label>
                <div id="valenceSelectorBlock" ng-if="state.trackingReminder.unitAbbreviatedName === '/5' && (state.showMoreOptions || !state.trackingReminder.valence)">
                    <p>&nbsp; &nbsp; Higher {{state.trackingReminder.variableName}} is </p>
                    <md-radio-group ng-model="state.trackingReminder.valence" flex layout="row" layout-padding layout-align="start center">
                        <md-radio-button value="positive" class="md-primary"> good </md-radio-button>
                        <md-radio-button value="negative"> bad </md-radio-button>
                    </md-radio-group>
                    <br>
                </div>
                <div layout="row" layout-margin ng-if="!stateParams.favorite && state.trackingReminder.variableCategoryName === 'Treatments'">
                    <md-input-container>
                        <input time="false" date="true" mdc-datetime-picker type="text" id="selectedStartTrackingDate"
                               placeholder="Start Date" style="cursor: pointer;  background-color: white;"
                               format="L" ng-model="state.selectedStartTrackingDate">
                    </md-input-container>
                    <i class="ion-android-cancel" style="font-size: 25px;" ng-click="state.selectedStartTrackingDate = null;" ng-if="state.selectedStartTrackingDate"></i>
                    <md-input-container>
                        <input time="false" date="true" mdc-datetime-picker type="text" id="selectedStopTrackingDate"
                               placeholder="End Date" style="cursor: pointer;  background-color: white;"
                               format="L" ng-model="state.selectedStopTrackingDate">
                    </md-input-container>
                    <i class="ion-android-cancel" style="font-size: 25px;" ng-click="state.selectedStopTrackingDate = null;" ng-if="state.selectedStopTrackingDate"></i>
                </div>
                <label ng-show="state.trackingReminder.variableCategoryName === 'Treatments' && state.showMoreOptions"  class="item item-input">
                    <span class="input-label">Instructions</span>
                    <input type="text" ng-model="state.trackingReminder.instructions" id="instructions" placeholder="Enter instructions here..." >
                </label>
                <ion-toggle id="enable-toggle" ng-if="state.trackingReminder.id && state.trackingReminder.reminderFrequency"
                            ng-model="state.trackingReminder.enabled" ng-change="toggleReminderEnabled()">
                    <div ng-if="state.trackingReminder.enabled"><i class="icon ion-android-notifications"></i> &nbsp Inbox Notifications Active &nbsp</div>
                    <div ng-if="!state.trackingReminder.enabled"><i class="icon ion-android-notifications-off"></i> &nbsp Inbox Notifications Disabled &nbsp</div>
                </ion-toggle>
            </div>
            <section layout="row" layout-align="center center" layout-wrap>
                <md-button ng-if="state.trackingReminder && state.trackingReminder.id" class="md-raised md-warn" ng-click="deleteReminder()">Delete</md-button>
                <md-button id="cancelButton" ng-click="goBack()" class="md-raised" >Cancel</md-button>
                <md-button id="saveButton" class="md-raised md-primary" ng-click="save()">{{state.savingText}}</md-button>
            </section>
            <section layout="row" layout-align="center center" ng-if="!state.showMoreOptions" layout-wrap>
                <md-button id="moreOptions" ng-click="showMoreOptions()" class="md-raised" >More options...</md-button>
            </section>
        </div>
    </ion-content>
</ion-view>
