<md-list>
    <md-list-item class="secondary-button-padding" ng-repeat="(key, fieldObject) in appSettings.additionalSettings.monetizationSettings"
                  ng-if="fieldObject && fieldObject.show">
        <img style="border-radius: 0;" ng-if="fieldObject.image"
             alt="{{ fieldObject.displayName }}" href="{{ fieldObject.link }}"
             ng-src="{{ fieldObject.image }}" class="md-avatar" />
        <md-switch ng-model="appSettings.additionalSettings.monetizationSettings[key].value" aria-label="{{key}}" ng-change="postAppSettingsAfterConfirmation()" ng-if="fieldObject.type === 'bool'"></md-switch>
        <p ng-if="fieldObject.type === 'bool'"> {{ fieldObject.value ? fieldObject.displayName : fieldObject.displayName.replace('Enabled', 'Disabled')}} &nbsp </p>
        <md-input-container style="width: 100%;">
            <label ng-if="fieldObject.type === 'string'">{{ fieldObject.displayName }} </label>
            <input name="{{ fieldObject.key }}" ng-model="appSettings.additionalSettings.monetizationSettings[key].value" ng-if="fieldObject.type === 'string'">
            <md-button class="md-secondary md-icon-button" style="font-size: 30px;" href="{{fieldObject.link}}" aria-label="{{fieldObject.displayName}}">
                <md-icon class="ion-information-circled"><md-tooltip md-direction="down">More Info</md-tooltip></md-icon>
            </md-button>
            <div class="hint" ng-if="fieldObject.helpText" ng-bind-html="fieldObject.helpText"></div>
        </md-input-container>
    </md-list-item>
</md-list>