<md-toolbar>
    <div class="md-toolbar-tools">
        <md-select style="color: white; line-height: normal;" ng-model="appSettings.appDesign.menu.type" aria-label="menu"
                   md-on-close="appComponentTypeChange(appSettings.appDesign.menu.type)">
            <md-option ng-value="option" ng-repeat="option in appComponentOptions.menu" >{{option | camelCaseToTitleCase}} Menu Type</md-option>
        </md-select>
        <span flex></span>
    </div>
</md-toolbar>
<div layout="column">
    <md-content flex layout layout-align="center">
        <div layout-gt-sm flex flex-gt-sm="100" layout="row">
            <div style="max-width: 300px;" flex>
                <md-card>
                    <md-card-content>
                        <ion-list id="menu-list">
                            <div ng-repeat="menuItem in appSettings.appDesign.menu.active" style="cursor: pointer;">
                                <ion-item id="menu-item-{{menuItem.id + '-design'}}">
                            <span ng-click="closeMenuIfNeeded(menuItem)">
                                <i ng-if="menuItem.showSubMenu && menuItem.subMenu" class="ion-chevron-down">&nbsp; {{menuItem.title}}</i>
                                <i ng-if="!menuItem.showSubMenu || !menuItem.subMenu" class="{{menuItem.icon}}">&nbsp; {{menuItem.title}}</i>
                            </span>
                                    &nbsp&nbsp<i ng-click="openEditAppSettingsModal('menu', menuItem)" ><i class="icon ion-edit"></i></i>
                                    &nbsp&nbsp<i ng-click="addAppComponentElement('menu', menuItem)" class="icon ion-ios-copy-outline" ></i>
                                    &nbsp&nbsp<i ng-click="deleteAppComponentElement('menu', menuItem)" class="icon ion-trash-a" ></i>
                                </ion-item>
                                <ion-item ng-repeat="subMenuItem in menuItem.subMenu" id="submenu-item-{{subMenuItem.id}}" ng-show="menuItem.showSubMenu" ng-class="{'sub-menu': true}" >
                                    <!--Don't use menu-close instead of menu-toggle because it clears the state history-->
                                    <i ng-click="openEditAppSettingsModal('menu', subMenuItem)" class="{{subMenuItem.icon}}" menu-toggle>&nbsp; {{subMenuItem.title}}</i>
                                    &nbsp&nbsp<i ng-click="openEditAppSettingsModal('menu', subMenuItem)" ><i class="icon ion-edit"></i></i>
                                    &nbsp&nbsp<i ng-click="addAppComponentElement('menu', subMenuItem)" class="icon ion-ios-copy-outline" ></i>
                                    &nbsp&nbsp<i ng-click="deleteAppComponentElement('menu', subMenuItem)" class="icon ion-trash-a" ></i>
                                </ion-item>
                            </div>
                        </ion-list>
                    </md-card-content>
                </md-card>
            </div>
            <div flex>
                <div layout="column" layout-padding ng-cloak ng-if="appSettingObjectToEdit && appSettingObjectToEdit.icon">
                    <md-card>
                        <md-card-header>
                            <md-card-header-text>
                                <span class="md-title">Edit Menu Item</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content>
                            <md-input-container style="padding-top:10px;">
                                <label>Title</label>
                                <input name="title" ng-model="appSettingObjectToEdit.title">
                            </md-input-container>
                            <div ng-if="!appSettingObjectToEdit.subMenu">
                                <md-input-container >
                                    <label>Target State</label>
                                    <md-select ng-model="appSettingObjectToEdit.stateName" ng-change="updateHrefInMenuItem(appSettingObjectToEdit)">
                                        <md-option ng-value="option.name" ng-repeat="option in stateList">{{option.name | camelCaseToTitleCase}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <div ng-if="appSettingObjectToEdit.params && appSettingObjectToEdit.params.variableCategoryName">
                                    <label>Variable Category</label>
                                    <md-select ng-model="appSettingObjectToEdit.params.variableCategoryName" ng-change="updateHrefInMenuItem(appSettingObjectToEdit)">
                                        <md-option ng-value="option" ng-repeat="option in variableCategoryNames" >
                                            <i class="icon {{variableCategories[option].ionIcon}}"></i> &nbsp;{{option | camelCaseToTitleCase}}
                                        </md-option>
                                    </md-select>
                                </div>
                            </div>
                            <md-button class="md-fab md-avatar" aria-label="{{appSettingObjectToEdit.icon | ionIconDisplayName}}" ng-click="selectIonIcon($event, appSettingObjectToEdit)">
                                <md-icon style="font-size: 20px;" md-font-icon="{{appSettingObjectToEdit.icon}}" class="{{appSettingObjectToEdit.icon}}"></md-icon>
                            </md-button>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</div>


