<h3>Study Abstract</h3>
<p>
    {{correlation.studyAbstract}}
</p>

<h3 ng-if="correlation.studyBackground">Study Background</h3>
<p>
    {{correlation.studyBackground}}
</p>

<h3>Study Objective</h3>
<p>
    {{correlation.studyObjective}}
</p>

<h3>Study Design</h3>
<p>
    {{correlation.studyDesign}}
</p>

<h3>Data Analysis</h3>
<p>
    {{correlation.dataAnalysis}}
</p>

<h3>Data Sources</h3>
<p ng-bind-html="correlation.dataSources">
</p>

<h3>Significance Explanation</h3>
<p>
    {{correlation.significanceExplanation}}
</p>

<h3>Study Limitations</h3>
<p>
    {{correlation.studyLimitations}}
</p>

<h3>Study Results</h3>
<p>
    {{correlation.studyResults}}
</p>