<md-card id="card" md-swipe-right="state.onSwipeRight($event, $target)" md-swipe-left="state.onSwipeLeft($event, $target)">
    <md-card-header id="card-header" ng-if="card.headerTitle || card.subHeader || card.avatar || card.avatarCircular">
        <md-card-avatar ng-if="card.avatar" id="card-avatar"><img ng-src="{{card.avatar}}"/></md-card-avatar>
        <md-card-avatar ng-if="card.avatarCircular" id="card-avatar"><img class="md-user-avatar" ng-src="{{card.avatarCircular}}"/></md-card-avatar>
        <md-card-header-text id="card" ng-if="card.headerTitle || card.subHeader">
            <span id="headerTitle" class="md-title" ng-if="card.headerTitle">{{card.headerTitle}}</span>
            <span id="subHeader" class="md-subhead" ng-if="!card.date && card.subHeader">{{card.subHeader}}</span>
            <span id="date" class="md-subhead" ng-if="card.date" am-time-ago="card.date"></span>
        </md-card-header-text>
        <md-button class="md-icon-button" id="more-button" ng-if="card.actionSheetButtons" style="top:5px; right: 0px;"
                   aria-label="More Options"
                   ng-click="state.openActionSheetForCard(card)">
            <i style="font-size: 24px;" class="icon ion-android-more-vertical"></i>
        </md-button>
    </md-card-header>
    <img id="image" ng-src="{{card.image}}" class="md-card-image" alt="{{card.title}}" ng-if="card.image">
    <md-card-title id="card" ng-if="card.title || card.subTitle">
        <md-card-title-text id="title-text">
            <span id="title" class="md-headline" ng-if="card.title">{{card.title}}</span>
            <span id="subTitle" class="md-subhead" ng-if="card.subTitle">{{card.subTitle}}</span>
            <md-button class="md-icon-button" id="more-button-title" ng-if="card.actionSheetButtons" style="top:5px; right: 0;"
                       aria-label="More Options"
                       ng-click="state.openActionSheetForCard(card)">
                <i style="font-size: 24px;" class="icon ion-android-more-vertical"></i>
            </md-button>
        </md-card-title-text>
    </md-card-title>
    <md-card-content id="content" ng-if="card.content">
        <p> {{card.content}} </p>
    </md-card-content>
    <md-card-content id="html-content" ng-if="card.htmlContent" style="top:5px; right: 0; position: relative; max-width: 98%;">
        <md-button class="md-icon-button" id="more-button-html" ng-if="card.actionSheetButtons" style="top:5px; right: 0; position: absolute;"
                   aria-label="More Options"
                   ng-click="state.openActionSheetForCard(card)">
            <i style="font-size: 24px;" class="icon ion-android-more-vertical"></i>
        </md-button>
        <div ng-bind-html="trustAsHtml(card.htmlContent)" ng-click="state.openActionSheetForCard(card)"></div>
    </md-card-content>
    <md-card-actions id="actions" layout-align="center center" style="text-align: center;" ng-if="card.buttons">
        <md-button id="{{button.id+'-text-button'}}" ng-if="!button.image || button.ionIcon" ng-repeat="button in card.buttons"
                   aria-label="{{button.text || button.title || button.id}}"
                   style="min-width: 0;"
                   ng-click="state.cardButtonClick(card, button, $event)">
            <md-tooltip ng-if="button.tooltip">{{button.tooltip}}</md-tooltip>
            <span style="color: {{button.color}}" >
                <i class="icon {{button.ionIcon}}" ng-if="button.ionIcon"></i>
                <span ng-if="button.text && button.text !== ''"> &nbsp; {{button.text}}</span>
            </span>
        </md-button>
        <md-button id="button-{{button.id}}" ng-if="button.image && !button.ionIcon" ng-repeat="button in card.buttons"
                   aria-label="{{button.text || button.title || button.id}}"
                   style="min-width: 0; min-height: 0; padding: 1px; line-height: 0; margin: 1px; width: {{90/card.buttons.length}}%"
                   ng-click="state.cardButtonClick(card, button, $event)">
            <md-tooltip>{{button.tooltip}}</md-tooltip>
            <img style="max-height: 75px; min-width:0; min-height:0; max-width: 100%;" ng-src="{{button.image}}">
        </md-button>
    </md-card-actions>
    <md-card-actions id="actions" layout-align="center center" style="text-align: center;" ng-if="card.buttonsSecondary">
        <md-button id="button-secondary-{{button.id}}" ng-if="!button.image || button.ionIcon" ng-repeat="button in card.buttonsSecondary"
                   aria-label="{{button.text || button.title || button.id}}"
                   style="min-width: 0;"
                   ng-click="state.cardButtonClick(card, button, $event)">
            <md-tooltip ng-if="button.tooltip">{{button.tooltip}}</md-tooltip>
            <span style="color: {{button.color}}" >
                <i class="icon {{button.ionIcon}}" ng-if="button.ionIcon"></i>
                <span ng-if="button.text && button.text !== ''"> &nbsp; {{button.text}}</span>
            </span>
        </md-button>
        <md-button id="{{button.id}}" ng-if="button.image && !button.ionIcon" ng-repeat="button in card.buttonsSecondary"
                   aria-label="{{button.text || button.title || button.id}}"
                   style="min-width: 0; min-height: 0; padding: 1px; line-height: 0; margin: 1px; width: {{90/card.buttonsSecondary.length}}%"
                   ng-click="state.cardButtonClick(card, button, $event)">
            <md-tooltip>{{button.tooltip}}</md-tooltip>
            <img style="max-height: 75px; min-width:0; min-height:0; max-width: 100%;" ng-src="{{button.image}}">
        </md-button>
    </md-card-actions>
    <md-content ng-if="card.inputFields" ng-repeat="inputField in card.inputFields">
        <form name="cardForm" ng-submit="state.cardButtonClick(card, inputField.submitButton, $event)" ng-if="inputField.show"
              layout layout-align="center" layout-padding>
            <div layout="row" flex>
                <span flex="15" style="margin-top: 10px;" ng-if="inputField.labelLeft"> &nbsp {{inputField.labelLeft}}</span>
                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                <md-input-container flex class="md-icon-float md-block md-title" style="margin-top: 0; margin-bottom: 0;">
                    <label>{{inputField.displayName}}</label>
                    <input required type="{{inputField.type}}" step="{{inputField.step}}" name="{{inputField.key}}" ng-model="inputField.submitButton.parameters.value"
                           min="{{inputField.minValue}}"  max="{{inputField.maxValue}}" ng-pattern="{{inputField.validationPattern}}" />
                </md-input-container>
                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                <!--<span flex="20" style="margin-top: 10px;" ng-if="inputField.labelRight"> &nbsp {{inputField.labelRight}}</span>-->
                <md-button type="submit" flex="20" >
                    Record {{inputField.submitButton.parameters.value}}
                </md-button>
            </div>
        </form>
    </md-content>
</md-card>