<ion-view hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>Contact</ion-nav-title>
    <ion-content scroll="true" overflow-scroll="true">
        <iframe data-tap-disabled="true" src="https://quantimodo.uservoice.com/clients/widgets/classic_widget?mode=full&locale=en&forum_id=211661&contact_us=true&custom_template_id=16602&context=site2&embed_type=lightbox&mobile=true&contact_enabled=true&feedback_enabled=true&strings=e30%3D&smartvote=true&default_mode=feedback&referrer=http%3A%2F%2Fhelp.quantimo.do%2Fforums%2F211661-general"
                style="height:800px;width:100%;"
                frameborder="0"
                onload="window.closeLoading();">
        </iframe>
    </ion-content>
</ion-view>
