<ion-view hide-nav-bar="false">
    <ion-nav-title>{{state.title}}</ion-nav-title>
    <ion-content scroll="true" overflow-scroll="true">
        <ion-refresher on-refresh="state.refreshFeed()"></ion-refresher>
        <md-list flex>
            <div ng-include="'templates/card.html'" style="width:100%;" ng-repeat="card in state.cards"></div>
        </md-list>
    </ion-content>
    <div ng-hide="hideNavigationMenu" ng-include="'templates/fragments/floating-material-action-button-fragment.html'"></div>
</ion-view>