<ion-view hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>Help</ion-nav-title>
    <ion-content scroll="true" overflow-scroll="true">

        <!-- The Classic Widget will be embeded wherever this div is placed -->
        <div data-uv-inline="classic_widget"
             data-uv-mode="full"
             data-uv-primary-color="#fa8c28"
             data-uv-link-color="#0a8cc6"
             data-uv-default-mode="support"
             data-uv-forum-id="211661"
             data-uv-width="100%"
             data-uv-height="550px">
        </div>


       <iframe data-tap-disabled="true"
                src="https://quantimodo.uservoice.com/clients/widgets/classic_widget?mode=full&locale=en&forum_id=211661&contact_us=true&custom_template_id=16602&context=site2&embed_type=lightbox&mobile=true&contact_enabled=true&feedback_enabled=true&strings=e30%3D&smartvote=true&default_mode=feedback&referrer=http%3A%2F%2Fhelp.quantimo.do%2Fforums%2F211661-general"
                style="height:800px;width:100%;"
                frameborder="0"
                onload="window.closeLoading();">
        </iframe>
        <!--<div ng-include="'templates/fragments/go-back-footer-fragment.html'"></div>-->
    </ion-content>
</ion-view>
