<div id="splash-screen" class="splash-wrapper" style="width: 100%">
    <div ng-hide="state.hideSplashText">
        <div class="splash-h1">Dr.</div>
        <div class="splash-h2">Roboto</div>
        <div>
            <svg height="320" width="400" class="logo-triangle">
                <defs>
                    <linearGradient id="grad1" x1="0%" y1="100%" x2="100%" y2="0%">
                        <stop offset="0%" style="stop-color:rgb(50,50,50);stop-opacity:1" />
                        <stop offset="100%" style="stop-color:black;stop-opacity:1" />
                    </linearGradient>
                </defs>
                <filter id="dropshadow" height="130%">
                    <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
                    <feOffset dx="2" dy="2" result="offsetblur" />
                    <feMerge>
                        <feMergeNode/>
                        <feMergeNode in="SourceGraphic" />
                    </feMerge>
                </filter>
                <polygon points="0,0 315,0 160,260" stroke="#36e2f8" stroke-width="3" />
            </svg>
        </div>
    </div>
    <div class="splash-grid"></div>
</div>