<ion-view ng-controller="StudyCreationCtrl as ctrl" hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>Create Study</ion-nav-title>
    <div style=" background-color: {{state.color.backgroundColor}}; text-align: center; color: white; padding: 20px; height: 100%" >
        <div style=" position: relative; top: 50%; transform: translateY(-50%);">
            <div ng-if="!state.study && (!state.effectVariable || !state.causeVariable)">
                <p style="font-size: 30px; line-height: 1;"> Create a Study </p>
                <p>After selecting a predictor and outcome variable, you'll be given a shareable url that you can use to
                    recruit participants.  You'll also get a link to the full study which will update in real time as more
                    participants anonymously share their data.</p>
            </div>
            <div class="row">
                <div class="col col-50">
                    <div id="select-predictor-button" ng-click="selectPredictorVariable($event)"
                            style="box-shadow: 2px 2px 5px #434343; margin: 0 auto; border-radius: 50%; width: 130px; height: 130px; background-color: {{state.color.circleColor}};">
                        <div style="cursor: pointer; position: relative; top: 50%; transform: translateY(-50%);"
                             ng-if="!state.causeVariable" >Select<br>Predictor<br>Variable</div>
                        <img ng-if="state.causeVariable" style="width: 100%; padding: 20px;" ng-src="{{state.causeVariable.pngUrl}}">
                    </div>
                </div>
                <div class="col col-50">
                    <div id="select-outcome-button" ng-click="selectOutcomeVariable($event)"
                         style=" box-shadow: 2px 2px 5px #434343; margin: 0 auto; border-radius: 50%; width: 130px;
                         height: 130px; background-color: {{state.color.circleColor}};">
                        <div style="cursor: pointer; position: relative; top: 50%; transform: translateY(-50%);"
                             ng-if="!state.effectVariable" >Select<br>Outcome<br>Variable</div>
                        <img ng-if="state.effectVariable"  style="width: 100%; padding: 20px;" ng-src="{{state.effectVariable.pngUrl}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-50"> <div id="causeVariableName" ng-if="state.causeVariable">{{state.causeVariable.name}}</div> </div>
                <div class="col col-50"> <div id="effectVariableName" ng-if="state.effectVariable">{{state.effectVariable.name}}</div> </div>
            </div>
            <br>
            <div id="createButtonsSection" ng-if="state.effectVariable && state.causeVariable && !state.study">
                <p style="font-size: 24px;"> What type do you want to create? </p><br>
                <p>{{state.typesDescription}}</p>
                <button id="createIndividualStudyButton" class="button"
                        style="background-color: {{state.color.backgroundColor}}; border: none; outline: none; color: white; text-align: center"
                        ng-click="createStudy('individual')">
                    <span><i class="ion-person"></i> &nbsp; INDIVIDUAL STUDY &nbsp;</span>
                </button><br>
                <button id="createStudyButton" class="button"
                        style="background-color: {{state.color.backgroundColor}}; border: none; outline: none; color: white; text-align: center"
                        ng-click="createStudy('cohort')">
                    <span><i class="ion-android-people"></i> &nbsp; GROUP STUDY &nbsp;</span>
                </button><br>
                <button id="createPopulationStudyButton" class="button"
                        style="background-color: {{state.color.backgroundColor}}; border: none; outline: none; color: white; text-align: center"
                        ng-click="createStudy('population')">
                    <span><i class="ion-android-globe"></i> &nbsp; GLOBAL STUDY &nbsp;</span>
                </button>
            </div>
            <div ng-if="state.study" ng-init="card = state.study.studyCard" ng-include="'templates/cards/blue-card.html'"></div>
            <div ng-if="state.study" class="list">
                <p style="font-size: 30px; line-height: 1;"> <i class="ion-person-add"></i> &nbsp; Recruit Participants </p>
                <div ng-include="'templates/fragments/study-sharing-fragment.html'"></div>
                <br>
                <div style="cursor: pointer" ng-click="copyStudyUrlToClipboard(state.causeVariable.name, state.effectVariable.name, state.study)" ng-if="platform.isWeb">
                    <i class="icon ion-clipboard"> &nbsp {{copyLinkText}}</i>
                </div>
                <br>
                <div class="button-bar">
                    <button id="joinStudyButton" class="button" ng-click="goToJoinStudyPageViaStudy(state.study)"
                            style="background-color: {{state.color.backgroundColor}}; border: none; outline: none; color: white; font-size: 24px; text-align: center" >
                        JOIN STUDY
                    </button>
                </div>
                <button id="goToStudyButton" ng-click="goToStudyPageViaStudy(state.study)" class="button button-small button-clear button-light"> SEE CURRENT RESULTS </button>
            </div>
        </div>
    </div>
    <div ng-hide="hideNavigationMenu" ng-include="'templates/fragments/floating-material-action-button-fragment.html'"></div>
</ion-view>
