<ion-view hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>{{tabsTitle}}</ion-nav-title>
    <ion-content >
        <ion-tabs class="tabs-positive tabs-icon-top">

            <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
                <!-- Tab 1 content -->
            </ion-tab>

            <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
                <!-- Tab 2 content -->
            </ion-tab>

            <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
                <!-- Tab 3 content -->
            </ion-tab>

        </ion-tabs>
    </ion-content>
</ion-view>
